.board {
  background-color: #f5c746;
  padding: 4px;
}

.board-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.board-row:first-child {
  border-top: 1px solid grey;
}

.board-cell {
  flex-grow: 1;
  border-right: 1px solid grey;
}

.board-cell--hit::before {
  background: url('/public/assets/img/hit.png') no-repeat center;
  background-size: 106%;
}

.board-cell--miss::before {
  background: url('/public/assets/img/miss.png') no-repeat center;
  background-size: 106%;
}

.board-cell::before {
  content: '';
  display: block;
  padding-top: 100%;
  background-color: white;
}

.board-cell:first-child {
  border-left: 1px solid grey;
}